---
permalink: /feed.xml
eleventyExcludeFromCollections: true
layout: null
---
<?xml version='1.0' encoding='UTF-8'?>
<?xml-stylesheet href="{{url "/feed.xsl"}}" type="text/xsl"?>
<feed xmlns="http://www.w3.org/2005/Atom">

    <title>alifeee's notes</title>
    <link href="https://blog.alifeee.net/notes/feed.xml" rel="self" />
    <updated>{{getNowDate}}</updated>
    <author>
        <name>alifeee</name>
    </author>
    <id>https://blog.alifeee.net/notes/</id>
    <icon>https://alifeee.net/profile-picture.png</icon>

    {{#each (reverse_collections collections.all)}}
    <entry>
        <title>{{data.title}}</title>
        <link href="https://blog.alifeee.net/notes{{page.url}}" />
        <id>https://blog.alifeee.net/notes{{page.url}}</id>
        <updated>{{ isoDate data.page.date }}</updated>
        <summary>{{data.title}}</summary>
    </entry>
    {{/each}}
</feed>
