---
layout: page
---
{{#each (limit (reverse_collections (objget collections tag)) max_notes)}}
<article id="{{slugify data.title}}">
  <h2 class="sticky">
    {{~data.title~}}
    <a class="hashlink dns" href="#{{slugify data.title}}">#</a>
    {{~#if @first~}}
    <span class="source dns">prev</span>
    {{~else~}}
    <a class="source dns"
      href="#{{slugify (getdatatitle (lookup (reverse_collections (objget ../collections ../tag)) (add @index -1)))}}">prev</a>
    {{~/if~}}
    <a class="source dns" href="{{this.url}}#note">single</a>
    {{~#if @last~}}
    <span class="source dns">next</span>
    {{~else~}}
    <a class="source dns"
      href="#{{slugify (getdatatitle (lookup (reverse_collections (objget ../collections ../tag)) (add @index 1)))}}">next</a>
    {{~/if~}}
    <a class="source dns" href="#top">top</a>
    {{~noop~}}
  </h2>
  <p class="tags">
    {{fmt_date data.date}}
    •
    tags:
    {{~#each data.tags~}}
    {{#unless @first}},{{/unless}}
    <a class="tag" href="/tagged/{{this}}">{{this}}</a>
    {{~/each}}

    •
    {{wordcount page.rawInput}}
    <button class="pseudo full-width" onclick="toggle_full_width()">full width</button>
  </p>
  {{{increase_headings content}}}
</article>
<a href="#top" class="back-to-top">back to top</a>
{{/each}}

{{#if (gt (length (objget collections tag)) max_notes)}}
{{#unless (eq max_notes 0)}}
<a href="{{#if (gt max_contents max_notes)}}#contents{{else}}/all/{{/if}}" class="back-to-top">see more (+{{sub (length
  (objget
  collections tag)) max_notes}})</a>
{{/unless}}
{{/if}}