---
layout: page
tag: 'all'
hide_contents: "yes"
---
<article id="{{slugify data.title}}">
    <h2>
        {{data.title}}
        <a href="#{{slugify data.title}}">#</a>
        <a class="source" href="/{{relpath page.inputPath}}">source</a>
    </h2>
    <p class="tags">
        {{#each data.tags~}}
        {{#if (neq @index 0)}},{{/if}}
        <a class="tag" href="/{{this}}">{{this}}</a>
        {{~/each}}
    </p>
    {{{increase_headings content}}}
</article>