<!DOCTYPE html>
<html lang="en">

<head>
    <title>alifeee's notes{{#if (neq tag 'all')}} ({{tag}}){{/if}}{{#if title}} - {{title}}{{/if}}</title>
    <!-- browser metas -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
        content="alifeee's notes{{#if (neq tag 'all')}} ({{tag}}){{/if}}{{#if title}} - {{title}}{{/if}}" />

    <!-- embed metas - https://ogp.me/ -->
    <meta property="og:title"
        content="alifeee's notes{{#if (neq tag 'all')}} ({{tag}}){{/if}}{{#if title}} - {{title}}{{/if}}" />
    <meta property="og:type" content="website" />
    <meta property="og:site" content="alifeee's notes" />
    <meta property="og:url" content="https://blog.alifeee.co.uk/notes{{page.url}}" />
    <meta property="og:image" content="https://blog.alifeee.co.uk/og-image.png" />
    <meta property="og:description"
        content='quick markdown notes from alifeee, mainly about programming and the Internet{{#if (neq tag "all")}}, filtered to notes tagged "{{tag}}"{{/if}}' />
    <meta property="og:locale" content="en_GB" />

    <!-- link to mastodon -->
    <meta name="fediverse:creator" content="@alifeee@mastodon.social" />

    <!-- rss -->
    <link
      rel="alternate"
      type="application/rss+xml"
      title="alifeee's notes feed"
      href="https://blog.alifeee.co.uk/notes/feed.xml"
    />

    <!-- styling -->
    <!-- favicon -->
    <link rel="icon" type="image/png" href="/og-image.png" />
    <link rel="stylesheet" href='/picnic.css'>

    <!-- prismjs for code highlighting -->
    <link rel="stylesheet" href="/prism.min.css" />
    <script src="/prism.min.js"></script>
    <script src="/prism-autoloader.min.js"></script>
    <script>
        Prism.plugins.autoloader.languages_path = "{{#unless dev}}/notes{{/unless}}/prism-components/";
    </script>

    <style>
        header {
            margin: 1rem;
        }

        header h1 {
            padding: 0;
        }

        header h1 img {
            max-height: 1.5em;
            border-radius: 50%;
            vertical-align: middle;
            margin-top: -10px;
        }

        header .return {
            margin: 0 0 0 1rem;
        }

        .source {
            opacity: 0.5;
            font-size: 75%;
        }

        #contents {
            max-width: max-content;
        }

        #contents time {
            opacity: 0.5;
            font-family: monospace;
        }

        #contents .see-more {
            opacity: 0.75;
            list-style: none;
            padding: 0.5rem;
        }

        #contents .see-more a {
            display: inline-block;
            width: 100%;
            text-align: center;

            background-image: radial-gradient(circle, #0004 0 10%, transparent 30% 100%);
            background-size: 8px 8px;
            background-position: left 115%;
            background-repeat: repeat no-repeat;
        }

        .tags {
            opacity: 0.5;
            max-width: unset;
        }

        .tag {
            text-decoration: underline dotted;
        }

        #contents .tag, #contents .tag:visited {
            color: #000;
        }

        .full-width {
            padding-top: 0;
            padding-bottom: 0;
            margin-top: 0;
            margin-bottom: 0;
            display: none;
            text-decoration: underline;
            text-underline-offset: 2px;
        }

        @media (width >=50rem) {
            .full-width {
                display: inline-block;
            }
        }

        main article {
            /* margin: 1px;*/
            padding: 1rem;
        }

        main article:nth-of-type(2n) {
            border: 2px dashed #0f08;
        }

        main article:nth-of-type(2n + 1) {
            border: 2px dashed #f0f8;
        }

        main article>h2 {
            margin: 0;
            margin-bottom: 0.6rem;
            padding-bottom: 0;
        }

        main article>h2.sticky {
            position: sticky;
            top: env(safe-area-inset-top);
            background-color: white;
            z-index: 10;
        }

        main article .tags {
            margin: 0;
            margin-left: 1rem;
        }

        main article p,
        main article ol,
        main article ul,
        main article dl {
            max-width: 40rem;
        }


        main .back-to-top {
            display: block;
            width: 100%;
            text-align: center;
            opacity: 0.5;
            padding: 1rem;
        }

        footer {
            margin: 4rem 0 0;
            padding: 2rem 0 0;
        }

        a {
            word-break: break-word;
        }

        details {
            cursor: pointer;
        }
        details > *:not(summary) {
            margin-left: 2rem;
        }
        details > pre[class*=language-] {
            margin-left: 2rem;
        }
        summary {
            display:list-item;
        }

        .alert {
            width: fit-content;
            background: orange;
            padding: 0.5rem 1rem 0.5rem 2.25rem;
            border-radius: 1rem;
            border: 0.25rem dashed brown;
            position: relative;
        }
        .alert::before {
            content: "⚠";
            font-size: 2rem;
            position: absolute;
            left: 0.25rem;
            top: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    </style>
    <script>
        // toggle full width - unset all max-width styles in this stylesheet
        function toggle_full_width() {
            inline_stylesheets = [
                ...document.styleSheets
            ].filter(
                s => s.href == null
            )
            console.log(inline_stylesheets)
            inline_stylesheets.forEach(stylesheet => {
                max_width_rules = [
                    ...stylesheet.rules
                ].filter(
                    r => r.style && (r.style["max-width"] == "40rem" || r.style["max-width"] == "10000rem")
                )
                max_width_rules.forEach(r => {
                    r.style["max-width"] = r.style["max-width"] == "10000rem" ? "40rem" : "10000rem";
                })
            })
        }
    </script>
</head>

<body id="top">
    <header>
        <h1 id="all">
            {{#if (neq page.url "/")}}<a href="/">{{/if~}}
                notes{{#if (neq page.url "/")}}</a>{{/if}} by alifeee <img alt="profile picture" src="/og-image.png">
            {{~#if (neq tag "all")}} tagged <span class="tag">{{tag}}</span> ({{length (objget collections tag)}})
            {{~/if}} <a class="source" href="/feed.xml">rss</a>
        </h1>
        <p class="return">
            return to <a href="/">notes</a> / <a href="https://blog.alifeee.co.uk">blog</a> / <a
                href="https://alifeee.co.uk">website</a> /
            <a href="https://weeknotes.alifeee.co.uk">weeknotes</a> / <a href="https://linktr.ee/alifeee">linktree</a>
        </p>
        <p>
            here I may post some short, text-only notes, mostly about programming. <a
                href="https://github.com/alifeee/blog/tree/main/notes">source code</a>.
        </p>
        <p class="tags">
            tags:
            {{#each (limit (tags_sorted_by_occurence collections) max_tags)~}}
            {{~#if (eq ../tag "all")}}{{#unless @first}},{{/unless}}{{/if}}
            <a class="tag" href="/{{#if (eq . 'all')}}all/{{else}}tagged/{{.}}/{{/if}}">{{.}}</a>&nbsp;({{length (objget
            ../collections .)}})
            {{~/each}}
            {{#if (gt (length collections) max_tags)}}

            <a href="/all/">............ see all (+{{#if (eq tag "all")~}}
                {{sub (length collections) max_tags~}}
                {{~else~}}
                {{sub (length collections) 1~}}
                {{/if}})</a>
            {{/if}}
        </p>
        {{#unless hide_contents}}
        <ul id="contents">
            {{#each (limit (reverse_collections (objget collections tag)) max_contents)}}
            <li>
                <time datetime="{{fmt_date data.date}}">{{fmt_date data.date}}</time>
                <a href="{{#if (ge @index ../max_notes)}}/{{else}}#{{/if}}{{slugify data.title}}">{{data.title}}</a>
                <a class="source" href="{{page.url}}">single</a>
                <span class="tags source">
                    {{~#each data.tags}}
                    {{~#unless @first}}, {{/unless}}
                    <a class="tag" href="tagged/{{.}}">{{.}}</a>
                    {{~/each}}

                </span>
                <span class="source">• {{wordcount page.rawInput}}</span>
            </li>
            {{/each}}
            {{#if (gt (length (objget collections tag)) max_contents)}}
            <li class="see-more">
                <a href="/all/">see all notes (+{{sub (length (objget collections tag)) max_contents}})</a>
            </li>
            {{/if}}
        </ul>
        {{/unless}}
    </header>
    <main>
        {{{content}}}
    </main>
    <footer></footer>
</body>

</html>