---
layout: page
tag: 'all'
hide_contents: true
---
<span class="source" style="display:block;width:100%; text-align:center;margin:0 0 1rem 0">viewing a single note</span>
<article id="note">
    <h2>
        {{title}}
        <a href="#note">#</a>
        <a class="source" href="/{{relpath page.inputPath}}">source</a>
    </h2>
    <p class="tags">
        tags:
        {{#each tags~}}
        {{#unless @first}},{{/unless}}
        <a class="tag" href="/tagged/{{this}}">{{this}}</a>
        {{~/each}}
        <button class="pseudo full-width" onclick="toggle_full_width()">full width</button>
    </p>
    {{{increase_headings content}}}
</article>
<a href="#top" class="back-to-top">back to top</a>
<a href="/" class="back-to-top">back to main page</a>