---
layout: page
tag: 'all'
hide_contents: true
max_tags: 10
---
<span class="source" style="display:block;width:100%; text-align:center;margin:0 0 1rem 0">viewing a single note</span>
<article id="note">
    <h2>
        {{~title~}}
        <a class="hashlink dns" href="#note">#</a>
        {{~noop~}}
        <a class="source dns" href="/{{relpath page.inputPath}}">source</a>
        {{~noop~}}
    </h2>
    <p class="tags">
        {{fmt_date date}}
        •
        tags:
        {{~#each tags~}}
        {{#unless @first}},{{/unless}}
        <a class="tag" href="/tagged/{{this}}">{{this}}</a>
        {{~/each}}

        •
        {{wordcount page.rawInput}}
        <button class="pseudo full-width" onclick="toggle_full_width()">full width</button>
    </p>
    {{{increase_headings content}}}
</article>
<a href="#top" class="back-to-top">back to top</a>
<a href="/" class="back-to-top">back to main page</a>